#game-container {
  position: relative;
  max-height: 95vh;
  max-width: 95vw;
  aspect-ratio: 6 / 4;
  width: auto;
  height: 90vh;
  background: #000;
  overflow: hidden;
}

#game-canvas {
  width: 100%;
  height: 100%;
  display: block;
}