/* styles/game.css */
#game-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Ocupamos toda la pantalla para centrar bien */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#game-canvas {
  /* Las dimensiones se controlan vía JS para mantener el Aspect Ratio */
  display: block;
  box-shadow: 0 0 10px rgba(182, 162, 255, 0.2); /* Opcional: estética */
  
  /* Importante para pixel art / sprites nítidos al escalar */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.hud-tooltip {
  font-family: 'sims-italic', sans-serif;
  font-size: 14px;
  color: var(--txt-color);
  background: var(--in-fill);
  border: 2px solid var(--btn-border);
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.1s ease;
  opacity: 0.95;
  z-index: 9999;
  pointer-events: none; /* Asegura que no bloquee el mouse */
}