/* ===================================================
   HUD visual y botones
=================================================== */
.hud-container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
}


.hud-button {
  position: absolute;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


#hud select {
  margin: 0 5px;
}

#hud {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ===================================================
   Tooltip general (para tooltips HUD y globales)
=================================================== */
.hud-tooltip, .tooltip {
  position: absolute;
  background: var(--in-fill);
  color: var(--txt-color);
  border: 2px solid var(--in-border);
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 16px;
  font-family: "sims-bold-italic";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 999;
}

.hud-tooltip.show, .tooltip.show {
  opacity: 1;
}
